@model IEnumerable<ProyectDTO>

@{
    if(Model is not null)
    {
        <div class="text-center" style="padding-top:6rem"> 
        <h1> My recent jobs</h1>

        <p>My last projects</p>
        </div>

        <partial name="_ListProjects" model="Model" />
    }
}