<div class="row justify-content-center text-center">
    <div class="col col-3 skills" style="border-radius:15px 0 0 15px; box-shadow:0 5px 5px 0 gray ">
        
        <h4 class="title-skills"><i class="bi-hdd-fill"></i> BackEnd</h4>

        <p>
            I work web apis, desigment, code, test and deploy.
        </p>

        <p class="fw-bold">Stack:</p>

        <p>.Net & SQL Server</p>

        
        <p class="fw-bold">Skills:</p>

        <ul>
            <li>Web Api´s</li>
            <li>ASP .NET Core</li>
            <li>ASP .NET MVC</li>
            <li>Dapper</li>
            <li>Entity Framework</li>
            <li>GraphQl</li>
            <li>Grpc</li>
            <li>Deploy with IIS & Docker</li>
        </ul>
    </div>

        <div class="col col-3 skills" style="border-radius:0 15px 15px 0; box-shadow:0 5px 5px 0 gray">
        <h4 class="title-skills"><i class="bi-code-slash"></i> FrontEnd</h4>

        <p>
            I build single pages aplication with razor pages & basic html.
        </p>

        <p class="fw-bold">Stack:</p>

        <p>Html, Css & Javascript</p>

        
        <p class="fw-bold">Skills:</p>

        <ul>
            <li>Html</li>
            <li>Css</li>
            <li>Javascript</li>
            <li>Jquery</li>
        </ul>
    </div>

</div>
