@{
    ViewData["Title"] = "Thanks";
}


<h1>
    Thank you for getting in touch with me.
</h1>

<p>
    I will reply to the message as soon as possible.
</p>

<div>
    <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Index", "Home")'">Go back</button>
</div>